<div class="container mt-4">
  <h2>Új edzés rögzítése</h2>

  <form (ngSubmit)="save()" #formRef="ngForm">
    <div class="mb-3">
      <label for="date" class="form-label">Dátum</label>
      <input type="date" id="date" class="form-control" required [(ngModel)]="sessions.date" name="date">
    </div>

    <div class="mb-3">
      <label for="type" class="form-label">Edzéstípus ID</label>
      <input type="number" id="type" class="form-control" required [(ngModel)]="sessions.workoutTypeId" name="type">
    </div>

    <div class="mb-3">
      <label for="duration" class="form-label">Időtartam (perc)</label>
      <input type="number" id="duration" class="form-control" required [(ngModel)]="sessions.durationMinutes" name="duration">
    </div>

    <div class="mb-3">
      <label for="calories" class="form-label">Kalória</label>
      <input type="number" id="calories" class="form-control" required [(ngModel)]="sessions.caloriesBurned" name="calories">
    </div>

    <div class="mb-3">
      <label for="notes" class="form-label">Megjegyzés</label>
      <textarea id="notes" class="form-control" [(ngModel)]="sessions.notes" name="notes"></textarea>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="formRef.invalid">Mentés</button>
  </form>
</div>
