<div class="container mb-5 mt-5">
  <h1 class="mb-4 text-center animate-slide-up">WorkoutTracker</h1>
  <br>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 animate-slide-up ">
    <div class="col" *ngFor="let session of sessions">
      <div class="card shadow-sm h-100">
        <div class="card-body ">
          <h5 class="card-title text-primary fw-bold">
            {{getWorkoutTypeName(session.workoutTypeId)}}
          </h5>
          <p class="card-text mb-1"><strong>Date:</strong> {{ session.date | date }}</p>
          <p class="card-text mb-1"><strong>Duration:</strong> {{ session.durationMinutes }} Min</p>
          <p class="card-text mb-1"><strong>Calorie:</strong> {{ session.caloriesBurned }} Cal</p>
          <p class="card-text"><strong>Notes:</strong> {{ session.notes }}</p>
          <button class="btn btn-sm btn-primary me-2" (click)="editSession(session.id)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteSession(session.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
